<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ke.hs_tracker.module">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_app_name"
        android:theme="@style/module_Theme.Hs_tracker">
        <activity
            android:name=".ui.summary.SummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.LocalFileParserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.zonecards.ZoneCardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.zoneevents.ZoneEventsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.CreateRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.records.RecordsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.writeconfig.WriteConfigActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.DiagnoseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.filter.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/module_Theme.Hs_tracker.Main" />
        <activity
            android:name=".ui.deck.DeckCodeParserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sync.SyncCardDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.permissions.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/module_Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>